/***********************navbaaaaar**********************/
.container-fluid {
  background-color: rgba(141, 90, 165, 0.171);
  height: 150px;
  position: sticky;
}
.container-fluid a {
  text-decoration: none;
  color: black;
  font-family: cursive;
  font-size: x-large;
  margin-left: 12px;
  margin-right: 12px;
}
.container-fluid a:hover {
  color: rgb(136, 84, 168);
  background-color: rgba(247, 249, 251, 0.486);
  border-radius: 3em;
  border: 0px;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  margin: 0;
  padding: 0;
}
.logo {
  border-radius: 10em;
  height: 150px;
  margin-right: 20px;
  border: 5px solid;
  border-color: rgb(144, 91, 194);
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#b1 {
  background-color: hsla(272, 30%, 92%, 0.553);
}
.nav1 {
  background-image: url(dietetique.jpg);

  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 80px;
}
.bandeau {
  background-image: url(quest.jpg);
  height: 200px;
  text-align: center;
  padding-top: 70px;
}
.bandeau h1 {
  font-family: cursive;
  color: #ffffff;
}
.sub {
  background-color: rgba(240, 205, 189, 0.507);
  height: 70px;
  margin-bottom: px;
}
#H1 {
  text-align: center;
  font-family: cursive;
  color: #a54848;
  padding-top: 20px;
}
.sub h1 {
  padding-left: 15px;
  font-family: cursive;
  color: #ffffff;
}

.accordion-item {
  margin-bottom: 10px;
  font-family: cursive;
  font-size: larger;
  font-weight: bold;
}

.accordion-button {
  height: 50%;
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: larger;
}

.accordion-button:hover {
  background-color: #e9ecef;
}

.accordion-body {
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-top: none;
  border-radius: 5px;
}

.accordion-item:last-child .accordion-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.qimg {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}
.qimg img {
  margin-left: 70px;
  width: 400px;
  height: 400px;
}
.proverbe {
  font-family: cursive;
  font-size: xx-large;
  font-weight: 500;
  color: rgb(165, 29, 29);
  padding-left: 600px;
}
/******footer***/
#footer {
  background-color: rgba(141, 90, 165, 0.171);
  clear: both;
  height: 150px;
  border-radius: 5em;
}
.nav-text {
  font-family: cursive;
  font-size: 300%;
  text-shadow: 0 0 10px rgba(82, 69, 100, 0.5);
}
.text2 {
  font-family: cursive;
  font-size: 200%;
}
